* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho do elemento */
  -webkit-font-smoothing: antialiased; /* Melhora a renderização da fonte em Mac/iOS */
  -moz-osx-font-smoothing: grayscale;
}

.cursos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #e5e5eb;
}
.cursos {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha tudo à esquerda */
  justify-content: flex-start; /* Alinha tudo ao topo */

  padding: 60px 60px 60px 120px; /* Reduzi um pouco o padding para ficar "mais a esquerda e topo" mas mantendo respiro */
  background-color: #fffcfc;

  width: 100%;
  max-width: 1150px;
  min-height: 500px;
}

.cursos h2 {
  color: #23875f;
  font-size: 2.85714rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 150px; /* Aumentando ainda mais o espaço abaixo do título */
}

.cursos p {
  color: #6e7180;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px; /* Aumentando o espaço até o input */
}

/* Estilos para o formulário de pesquisa */
.cursos form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 350px; /* Diminuindo a largura do formulário/input */
  margin-top: 10px;
}

.cursos input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
  background-color: #77798617;
}

.cursos input:focus {
  border-color: #23875f;
}

.cursos button {
  padding: 12px 24px;
  background-color: #23875f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.cursos button:hover {
  background-color: #1a6647;
}
/* testeddddd */

@media (max-width: 768px) {
  .cursos {
    padding: 30px;
    align-items: center;
  }
  .cursos h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    text-align: center;
  }
  .cursos form {
    flex-direction: column;
    align-items: center;
  }
  .cursos input {
    width: 100%;
  }
  .cursos button {
    width: 100%;
  }
}
