* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho do elemento */
  -webkit-font-smoothing: antialiased; /* Melhora a renderização da fonte em Mac/iOS */
  -moz-osx-font-smoothing: grayscale;
}

/* 3. BASE */
html {
  scroll-behavior: smooth; /* Deixa o deslize da página suave */
}

body {
  line-height: 1.6; /* Melhora a legibilidade do texto */
}

ul,
ol {
  list-style: none; /* Remove as bolinhas das listas */
}

a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: inherit;
}

img {
  max-width: 100%; /* Impede que imagens "vazem" do container */
  display: block;
}
.main1 {
  background-color: #99999936;
  padding: 50px; /* Cria espaço ao redor do container interno */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.covenios {
  padding: 120px;
  background-color: #ffffff;
  width: 100%;
  max-width: 1100px; /* Limita a largura para ver o fundo vermelho da .main1 */
 

}
img {
display:  flex;
justify-content: center;
  height: 189px;
  width: 300px;
  padding: 20px;
}
figure {
  display: flex;
  justify-content: center;
  gap: 20px;  
}
.covenios h2 {
color: #666666; 
  text-align: left;
  line-height: 1.2;
 font-size: 2.5rem;
  margin-left: -90px;
  padding: 20px;
}