a {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.pPrincipal {
  color: #6e7180;
 padding-top: 50px;
 padding-bottom: 50px;
  font-size: 1.2rem;
  margin-left: 150px;
  margin-right: 100px;
  line-height: 1.6;
  letter-spacing: 1px; 

} 

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 1000px; 
  margin: 0 auto; 
  margin-bottom: 20px;
}

figure a {
  width: calc(20% - 20px);
}

figure img {
  width: 100%;
  height: 230px;
  border-radius: 5px;
  object-fit: cover; 
  border: 2px solid #85bd919a;  
  box-shadow: 0px 4px 10px rgba(45, 180, 128, 0.1)  ;
}
.galeria img {
  width: 180px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  
}

.galeria img:hover {
  transform: scale(1.05);
}
