.container-psicoterapia-casal{
  background-color: #99999921;
  padding: 50px; 
  display: flex;
  justify-content: center;
}



.psicoterapia-casal{
  padding: 120px;
  background-color: #ffffff;
  width: 100%;
  max-width: 1100px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;

}
   .psicoterapia-casal h2{
        color: #7b7b7b;
        font-size: 1.875rem;
        font-weight: bold;
        margin-bottom: 20px;
    }   
    .psicoterapia-casal p{
        color: #7b7b7b;
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 20px;
        
    }

.psicoterapia-casal {
    text-align: left;
   
   
}
    
/* teste */